.drawer__paper,
.sidebar {
  width: 14rem;
  background: var(--grey-800);
  height: 100%;
}

.logo_container {
  all: unset;
  text-align: center;
  padding: 0.5rem 0;
}
.white {
  color: var(--white);
}
